/* Containers with text and image */


.text-image-container{
    display: flex;
    flex-direction: row;
}
.text-part{
    display: inline-block;
    vertical-align: middle;
    clear: right;
    width: fit-content;
    padding: 15px;
}
.image-part{
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    justify-content: flex-end;
    padding: 5px;
    
}

