@import "elements.css";
@import "images.css";
/*@import "flex-elements.css";*/

/*Small screen layout*/

.container {
    display: grid;
    grid-template-rows: 25vw 15vw 1fr 30vw 10vw;
    grid-template-columns: 100%;
    grid-template-areas: 
    "hd"
    "nav"
    "feat" 
    "rt"
    "ft";
    border: 3px solid rgb(78, 59, 83);
    width: 100%;
    height: auto;
}
.header {
    font-size: 1.5em;
}

/* Layout for average screens */

@media(min-width: 850px) and (max-width: 1200px){
    .container {
        display: grid;
        grid-template-rows: 100px 90px 1fr 50px;
        grid-template-columns: 1fr 35%;
        grid-template-areas: 
        "hd hd"
        "nav nav"
        "feat rt"
        "ft ft";
        border: 3px solid rgb(78, 59, 83);
        width: auto;
    }
    .header {        
        font-size: 2em;    
    }
}
/* Layout for large screens */

@media(min-width: 1201px){
    .container {
        display: grid;
        grid-template-rows: 120px 100px 1fr 70px;
        grid-template-columns: 1fr 30%;
        grid-template-areas: 
        "hd hd"
        "nav nav"
        "feat rt"
        "ft ft";
        border: 3px solid rgb(78, 59, 83);
        width: auto;
    }
    .header {        
        font-size: 2.5em;    
    }
}

/* Elements of the main container */

.header {
    grid-area: hd;
    width: auto;
    border-bottom: 2px solid rgb(78, 59, 83);
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    color:  bisque;
    text-shadow: 2px 2px rgb(78, 59, 83);
    background-image: url("../images/header-image.JPG");
    background-size: auto;
    background-repeat: no-repeat;

}
.menu {
    width: auto;
    grid-area: nav;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-item {
    display: inline-flex;
    padding: 5px;
    margin: 10px;
    color: papayawhip;
    background-color: rgb(144, 132, 148);
    border-radius: 5px;
    width: auto;
    height: auto;
}

.posts {
    border: 2px solid rgb(78, 59, 83);
    padding: 10px;
    width: auto;
    height: auto;
    margin: 5px;
    grid-area: feat;
}

.right {
    grid-area: rt;
    border: 2px solid rgb(78, 59, 83);
    padding: 10px;
    width: auto;
    height: auto;
    margin: 5px;    
}

.footer {
    grid-area: ft;
    width: auto;
    border-top: 2px solid rgb(78, 59, 83);
    padding: 10px;
    text-align: center;

}

 *{
    border: 1px solid red !important;
  }


/* Containers with text and image */


.text-image-container{
    display: flex;
    flex-direction: row;
}
.text-part{
    display: inline-block;
    vertical-align: middle;
    clear: right;
    width: fit-content;
    padding: 15px;
}
.image-part{
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    justify-content: flex-end;
    padding: 5px;
    
}


